mixin qa(modifier)
  section.qa.section
    .qa__container.container
      .qa__header 
        h2.qa__title.title Остались вопросы?
      .qa__body 
        ul.qa__list 
          li.qa__list-item.qa-item
            .qa-item__header 
              h3 Сколько времени необходимо чтобы пройти курс?
              span
            .qa-item__body 
              p In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.
          li.qa__list-item.qa-item
            .qa-item__header 
              h3 Можно ли оплатить курс частями?
              span
            .qa-item__body 
              p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
          li.qa__list-item.qa-item
            .qa-item__header 
              h3 Могу ли я вернуть средства если меня не устроит программа?
              span
            .qa-item__body 
              p Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain.  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          li.qa__list-item.qa-item
            .qa-item__header 
              h3 Предоставляется ли сертификат о прохождении курса?
              span
            .qa-item__body 
              p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
      .qa__btn
        .btn__body
          a.btn.gradient(href="#order-section") Начать зарабатывать
        .btn__shadow
          .btn--inner.gradient