{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-prettier-scss"
  ],
  "customSyntax": "postcss-scss",
  "plugins": ["stylelint-order"],
  "ignoreFiles": [
    "./src/styles/reset.scss",
    "./src/styles/normalize.scss",
    "./src/styles/slick.min.scss",
    "./src/styles/swiper.min.scss"
  ],
  "rules": {
    "declaration-block-no-duplicate-custom-properties": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "no-duplicate-selectors": true,
    "order/properties-order": [
      "content",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "flex",
      "flex-direction",
      "flex-wrap",
      "justify-content",
      "align-items",
      "flex-shrink",
      "flex-grow",
      "flex-basis",
      "order",
      "float",
      "clear",
      "overflow",
      "overflow-x",
      "overflow-y",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-left",
      "padding-bottom",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "table-layout",
      "empty-cells",
      "caption-side",
      "border-spacing",
      "border-collapse",
      "font",
      "font-family",
      "font-size",
      "line-height",
      "font-weight",
      "font-style",
      "font-variant",
      "font-size-adjust",
      "font-stretch",
      "font-effect",
      "font-emphasize",
      "font-emphasize-position",
      "font-emphasize-style",
      "font-smooth",
      "color",
      "text-align",
      "text-align-last",
      "vertical-align",
      "white-space",
      "text-decoration",
      "text-emphasis",
      "text-emphasis-color",
      "text-emphasis-style",
      "text-emphasis-position",
      "text-indent",
      "text-justify",
      "letter-spacing",
      "word-spacing",
      "text-outline",
      "text-transform",
      "text-wrap",
      "text-overflow",
      "text-overflow-ellipsis",
      "text-overflow-mode",
      "text-shadow",
      "word-wrap",
      "word-break",
      "tab-size",
      "hyphens",
      "pointer-events",
      "quotes",
      "counter-reset",
      "counter-increment",
      "list-style",
      "list-style-position",
      "list-style-type",
      "list-style-image",
      "background",
      "background-color",
      "background-image",
      "background-repeat",
      "background-attachment",
      "background-position",
      "background-position-x",
      "background-position-y",
      "background-clip",
      "background-origin",
      "background-size",
      "opacity",
      "visibility",
      "outline",
      "outline-width",
      "outline-style",
      "outline-color",
      "outline-offset",
      "box-shadow",
      "box-decoration-break",
      "transition",
      "transition-duration",
      "transition-delay",
      "transition-timing-function",
      "transition-property",
      "transform",
      "transform-origin",
      "animation",
      "animation-name",
      "animation-duration",
      "animation-play-state",
      "animation-timing-function",
      "animation-delay",
      "animation-iteration-count",
      "animation-direction",
      "backface-visibility",
      "will-change",
      "cursor",
      "user-select"
    ],
    "max-nesting-depth": 3,
    "color-no-invalid-hex": true,
    "color-hex-length": "long",
    "comment-no-empty": true,
    "value-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "block-closing-brace-empty-line-before": "never",
    "unit-disallowed-list": ["em", "rem"],
    "no-extra-semicolons": true
  }
}
