include ../blocks/timer/timer.pug
include ../blocks/header/header.pug
include ../blocks/intro/intro.pug
include ../blocks/process/process.pug
include ../blocks/order/order.pug
include ../blocks/qa/qa.pug
include ../blocks/reviews/reviews.pug
include ../blocks/programm/programm.pug
include ../blocks/if/if.pug
include ../blocks/salary/salary.pug
include ../blocks/adva/adva.pug
include ../blocks/form/form.pug
include ../blocks/footer/footer.pug
