mixin adva(modifier)
  section.adva.section
    .adva__container.container
      .adva__content
        h2.title Пора становиться <br>IT-специалистом на фрилансе! <br>Почему?
      .adva__body
        .adva__slider
          .adva__list
            .adva__item.item
              .item__wrapper
                h3 Надежность и независимость
                .item__content
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis voluptates iusto ex omnis minus unde in voluptate, recusandae sapiente, culpa perspiciatis tempore.
            .adva__item.item
              .item__wrapper
                h3 Востребованность и&nbsp;дефицит кадров
                .item__content
                  p Culpa perspiciatis tempore. Cupiditate molestias ipsa provident aspernatur quasi ratione iusto!Nostrum veritatis ea rerum tenetur, alias fuga.
            .adva__item.item
              .item__wrapper
                h3 Высокие зарплаты
                .item__content
                  p Quod quia dolor velit dignissimo cum harum laudantium eveniet aspernatur. Tenetur, velit sit quas ducimus dolorum voluptatum provident sapiente, optio nam quos delectus.
            .adva__item.item
              .item__wrapper
                h3 Работа из любой точки мира
                .item__content
                  p  Tenetur, velit sit quas ducimus dolorum voluptatum provident possimus at aspernatur nobis alias.
          .adva__pagination.swiper-pagination