mixin process(modifier)
  section.process.section
    .process__container.container
      .process__head
        .process__wrap
          h2.process__title.title Хотите много<br> зарабатывать?
          p Всего 4 шага к результату
      .process__body.animated-items
          .process__block.process__block--1
            .process__content
              p Officia doloremque, a, voluptas omnis debitis delectus vitae.
          .process__block.process__block--2
            .process__content
              p Possimus quos qui accusantium cumque similique modi repellat quis veritatis.
          .process__block.process__block--3
            .process__content
              p Nemo fugit vel nam?Eius beatae eaque itaque quisquam corporis nesciunt.
          .process__block.process__block--4
            .process__content
              p Quis laudantium labore fugiat doloremque, dignissimos nam!
      .process__dec-img
        img(src="./img/proc1.png", alt="", class="object cube--1", data-value="-4")
        img(src="./img/proc2.png", alt="", class="object cube--2", data-value="6")
        img(src="./img/proc3.png", alt="", class="object cube--3", data-value="-2")
        img(src="./img/proc4.png", alt="", class="object cube--4", data-value="8")
        img(src="./img/proc4.png", alt="", class="object cube--01", data-value="3")
        img(src="./img/proc4.png", alt="", class="object cube--02", data-value="-4")
        img(src="./img/proc4.png", alt="", class="object cube--03", data-value="6")