mixin timer(modifier)
  .timer
    .timer__header
      .timer__sale  <span>Сейчас действует</span> скидка
    .timer__body
        span
            .timer__num.timer__num--dots.minutes 15
        span
            .timer__num.seconds 00
