.timer {
  align-self: center;
  position: relative;
  padding-bottom: 25px;
  @media (max-width: 998px)  {
    padding-bottom: 0px;
    margin-top: 25px;
  }
  &::before {
    position: absolute;
    content: "";
    width: 150%;
    padding-top: 300px;
    top: -10px;
    left: -20%;
    background-image: url("../img/timer-bg.png");
    background-repeat: no-repeat;
    z-index: 0;
    @media (max-width: 640px) {
      background-image: url("../img/timer-bg-mob.png");
      background-position: center;
      padding-top: 150px;
    }
  }
  &__header {
    position: relative;
    margin-bottom: 22px;
    padding-left: 35px;
    padding-bottom: 10px;
    font-weight: 250;
    font-size: 22px;
    line-height: 30px;
    @include gray-text;
    z-index: 2;
    @media (max-width: 700px) {
      padding-left: 10px;
    }
    @media (max-width: 640px) {
      span {
        display: none;
      }
      text-transform: uppercase;
      padding-left: 20px;
      padding-bottom: 0px;
      padding-top: 7px;
      font-size: 14px;
      line-height: 125%;
      margin-bottom: 10px;
      font-weight: 700;
      max-width: 136px;
    }
  }
  &__body {
    display: flex;
    span {
      position: relative;
      display: flex;
      width: 96px;
      height: 89px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      &:first-child {
        margin-right: 120px;
        @media (max-width: 640px) {
          margin-right: 60px;
        }
      }
      &:first-child::after {
        position: absolute;
        right: -40px;
        top: 10%;
        transform: translate(0, -50%);
        width: 5px;
        height: 100%;
        font-weight: 700;
        font-size: 128px;
        color: rgba(255, 255, 255, 0.65);
        content: ":";
        @media (max-width: 640px) {
          right: -20px;
          top: 40px;
          font-size: 78px;
        }
      }
    }
  }
  &__num.minutes {
    @include gray-text;
    font-weight: 700;
    font-size: 128px;
    line-height: 160px;
    @media (max-width: 640px) {
      font-size: 78px;
      line-height: 80px;
    }
  }
  &__num.seconds {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.65);
    color: transparent;
    font-weight: 700;
    font-size: 128px;
    line-height: 160px;
    @media (max-width: 640px) {
      font-size: 78px;
      line-height: 80px;
    }
  }

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 640px) {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
