.footer {
  width: 100%;
  position: relative;
  color: #e3e3e3;
  background-color: #272727;

  &__info {
    max-width: 1438px;
    margin: 0 auto 35px;
    display: flex;
    justify-content: space-between;
    padding: 35px 15px 44px;
    border-bottom: 1px solid #3d3c3c;
    @media (max-width: 600px) {
      flex-direction: column;
      border-bottom: 0;
      margin-bottom: 0;
      padding: 28px 15px 48px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    margin-bottom: 0;
    color: #ffffff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    @media screen and (max-width: 992px) {
      font-size: 20px;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__phone-desc {
    margin-top: 8px;
    color: #ffffff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    @media screen and (max-width: 992px) {
      font-size: 14px;
    }
    @media screen and (max-width: 600px) {
      margin-top: 7px;
      font-size: 10px;
    }
  }

  &__email {
    margin-top: 98px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    color: #ffffff;
    @media screen and (max-width: 992px) {
      margin-top: 68px;
      font-size: 18px;
    }
    @media screen and (max-width: 600px) {
      margin: 40px 0;
      font-size: 16px;
    }
  }

  &__links {
    width: 100%;
    max-width: 485px;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    @media screen and (max-width: 768px) {
      width: auto;
    }

    a {
      text-decoration: none;
      margin-bottom: 10px;
      color: #ffffff;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 992px) {
        margin-bottom: 8px;
      }
      @media screen and (max-width: 600px) {
        margin-bottom: 5px;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 10px;

    @media screen and (max-width: 992px) {
      font-size: 14px;
      margin-bottom: 8px;
    }
    @media screen and (max-width: 600px) {
      font-size: 10px;
      margin-bottom: 5px;
    }
  }

  &__bottom {
    max-width: 1438px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 36px;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 0;
      padding: 0 15px 78px;
    }
  }

  &__name {
    margin-right: 20px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    @media screen and (max-width: 992px) {
      font-size: 14px;
    }
    @media screen and (max-width: 600px) {
      font-size: 10px;
    }
  }

  &__cookie {
    width: 100%;
    max-width: 485px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;

    a {
      color: #ffffff;
      text-decoration: underline;
    }

    @media screen and (max-width: 992px) {
      font-size: 14px;
    }
    @media screen and (max-width: 768px) {
      max-width: 100%;
      margin-bottom: 48px;
      font-size: 14px;
    }
    @media screen and (max-width: 600px) {
      font-size: 10px;
      max-width: 100%;
    }
  }
}

