mixin order(modifier)
  section.order.section#order-section
    .order__container.container
      .order__mockup
      .order__body.animated-items
        .order__title
          h2.title Переходи на&nbsp;фриланс <span class="gradient-title" >уже&nbsp;сейчас</span>
        .order__content
          +timer
          +form