extends ../templates/template.pug
block content
    #app
        +header
        main
            +intro
            +if
            +programm
            +adva
            +process
            +salary
            +order
            +reviews
            +qa
        +footer