mixin programm(modifier)
  section.programm.section
    .programm__container.container
      .programm__content.animated-items
        h2.title Ничего не знаете о фрилансе?
        p Не переживайте, наши короткие уроки помогут Вам во всем разобраться
      .programm__image.animated-items
        img(src="./img/phone.png", alt="telephone")
      .programm__body
        .programm__slider
          .programm__list
            .programm__item.block
              .block__wrapper
                .block__content
                  p Что такое фриланс
            .programm__item.block
              .block__wrapper
                .block__content
                  p Плюсы и минусы фриланса
            .programm__item.block
              .block__wrapper
                .block__content
                  p Профессии для фриланса
            .programm__item.block
              .block__wrapper
                .block__content
                  p Определение персональной ниши
            .programm__item.block
              .block__wrapper
                .block__content
                  p Руководство для успешного старта
            .programm__item.block
              .block__wrapper
                .block__content
                  p Биржи для фрилансеров
            .programm__item.block
              .block__wrapper
                .block__content
                  p Взаимодействие с заказчиками
            .programm__item.block
              .block__wrapper
                .block__content
                  p Инструменты и программы
          .programm-pagination.swiper-pagination
    .programm__buy
      p.programm__subtitle Хватит терять время! <br>Можно зарабатывать <span class="gradient-title">уже&nbsp;сейчас</span>
      .programm__btn.intro__btn
        .btn__body
          a.btn.gradient(href="#order-section") Начать зарабатывать
        .btn__shadow
          .btn--inner.gradient

