mixin if(modifier)
  section.if.section
    .if__container
      p.if__subtitle.title Если <span class="gradient-title">Вы:</span>
      .if__body 
        .if__wrapper
          .if__slider.swiper-container
            .if__list.swiper-wrapper 
              .swiper-slide.if__item 
                picture 
                  img(src="./img/01.png", alt="")
                p Цените свободу выбора
              .swiper-slide.if__item 
                picture 
                  img(src="./img/02.png", alt="")
                p Хотите сами управлять своим временем
              .swiper-slide.if__item 
                picture 
                  img(src="./img/03.png", alt="")
                p Жаждете большого дохода
              .swiper-slide.if__item 
                picture 
                  img(src="./img/04.png", alt="")
                p Вкладываетесь в свое развитие
              .swiper-slide.if__item 
                picture 
                  img(src="./img/05.png", alt="")
                p Хотите работать только на себя
        .if__pagination.swiper-pagination
      h2.if__title.title Пора выходить на <span class="gradient-title">фриланс!</span>
