mixin header(modifier)
  header.header.page__header
    .header__container.container
      a.header__logo(href="/")
        picture 
          img.header__logo--svg(src="./img/tecklogo.svg", alt="logo")
